<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hr Portal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "_reset", media: "all" %>
    <%= stylesheet_link_tag "bootstrap.min", media: "all" %>
    <%= stylesheet_link_tag "main", media: "all" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <%= stylesheet_link_tag "coreui.min", media: "all" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "coreui.bundle.min" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "partials/top_nav" %>
    <div class="d-flex" style="min-height: 100vh;">
      <% if user_signed_in? %>
        <!-- Sidebar -->
        <%= render "partials/side_nav" %>
      <% end %>
      <!-- Main Content -->
      <main class="flex-grow-1 overflow-auto p-4">
      <%= render "partials/toasts" %>
      <%= yield %>
      </main>
    </div>

    

    <!-- Display flash messages like login success or failure -->
<% flash.each do |key, message| %>
  <div class="flash <%= key %>"><%= message %></div>
<% end %>

  <%= javascript_include_tag "main" %>
  </body>
</html>
